
body{
	font-family: 'Allerta', sans-serif;
	
}

.U-contenedor{
	margin: auto;
	width:800px;
}

.Header{
	vertical-align: top;
	position: relative;
}

.Logotipo{
	display: inline-block;
	
}

.Menu{
	display: inline-block;
	font-size: 24px;
	position: absolute;
	right: 0;
}

.Menu li{
	display:inline-block;
	margin-left: 30px;
}

.Portada{
	background: url('../img/fondo-header.jpg');
	color: white;
	padding: 20px;
}
.Portada-titulo{
	font-family: 'Montserrat', sans-serif;
	font-size: 70px;
	margin: 70px 0 0 0;

}

.Portada-slogan{
	font-size: 24px;
	margin: 0 0 50px 0;
}

.Portada button{
	background: #fd324e;
	border: none;
	border-radius: 8px;
	color: white;
	margin: 0 0 70px 0;
	padding: 7px;
}
.Guitarras{
	color: #1F313C;
}
.Guitarras-article{
	border: 1px solid #1F313C;
	border-radius: 20px 50px 10px 5px ;
	margin: 10px;
	padding: 10px;
	/*overflow:hidden;*/
}
.Guitarras-titulo{
	font-family: 'Montserrat', sans-serif;
	font-size: 35px;
}

.Guitarras-tituloA, .Guitarras-tituloB{
	font-size: 50px;
}

.Guitarras-derecha{
	float:right;
	position: relative;
	top: -90px;
}

.Guitarras-izquierda{
	float:left;
	position: relative;
	bottom: -20px;
}
.Footer{
	background-color: #273b47; 
	border: 1px solid red;
	text-align: left;
}
.Footer-contacto img{
	display: block;
}

.Footer-contacto a{
	color: white;
	text-decoration: none;
}
.Footer-contacto strong{
	display: block;
}